.form{
  
  width: 100%;
padding: 40px;


&__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-color);
     }


    &__form{
      
outline: 1px solid #000;
margin-bottom: 10px;
   
  

    }




&__point{
 
}     

&__input{
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
&__text{
    position: absolute;
    top: 0 px;
    left: 0;
}


// &__icon{
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translateY(42px);

// }
}

